<IfModule mod_headers.c>
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-Content-Type-Options "nosniff"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # 403 — Chặn truy cập trực tiếp file php
    RewriteCond %{HTTP:X-Requested-With} !=XMLHttpRequest
    RewriteCond %{HTTP_ACCEPT} !application/json
    RewriteRule ^(.*\.php)$ ../php/Pages/error.php?code=403 [L]

    # 403 — directory listing 
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteCond %{REQUEST_FILENAME}/index.php !-f
    RewriteRule ^(.*)$ ../php/Pages/error.php?code=403 [L]

    # 404 — file/thư mục không tồn tại
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ ../php/Pages/error.php?code=404 [L]
</IfModule>
